<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/singup_style.css">
    <title>Geeks Chat App - Sign Up</title>
</head>
<body>

<div class="signup-container">
    <div class="logo">
        <img src="/assets/img/chat_img.jpg" alt="Geeks Chat App Logo" width="50">
        <h2>Geeks Chat App</h2>
    </div>
    <div>
        <ul>
            <li class="list-error" th:each="error : ${#feilds.errors('geek.*')}"></li>
        </ul>
    </div>
    <form th:action="@{/createGeek}" method="post" th:object="${geek}">
        <input th:field="*{firstName}"  placeholder="First Name" required>
        <input th:field="*{lastName}"  placeholder="Last Name" required>
        <input th:field="*{email}" placeholder="Email" required>
        <input th:field="*{password}" placeholder="Password" required>
        <input th:filed="*{passwordConfirm}"  placeholder="Confirm Password" required>
        <button type="submit">Sign Up</button>
    </form>
</div>

</body>
</html>
